// https://www.bestcssbuttongenerator.com/#/0


@import 'colors';

// Variáveis
$border-radius: 15px;
$font-size: 15px;
$padding: 14px 45px;
$margin: 2px;

// Botão
@mixin myButton {
	border-radius: $border-radius;
	display:inline-block;
    cursor:pointer;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	font-size: $font-size;
	padding: $padding;
    text-decoration:none;
    margin: $margin;
}


//        Primary          // 
.btn-primary {
    @include myButton;
    background-color: $azul70;
    border:1px solid $azul90;
    color: $cinza10;
    &:hover{
        background-color:$azul80;
    }
    &:active{
        position:relative;
        top:1px;
    }
}

//       Secondary      // 
.btn-secondary {
    @include myButton;
    background-color: $cinza40;
    border:1px solid $cinza50;
    color: $cinza10;
    &:hover{
        background-color:$cinza50;
    }
    &:active{
        position:relative;
        top:1px;
    }
}


//       Success      //
.btn-success {
    @include myButton;
    background-color: $verde80;
    border:1px solid $verde90;
    color: $cinza10;
    &:hover{
        background-color:$verde90;
    }
    &:active{
        position:relative;
        top:1px;
    }
}


//      Danger      //
.btn-danger {
    @include myButton;
    background-color: $vermelho80;
    border:1px solid $vermelho90;
    color: $cinza10;
    &:hover{
        background-color:$vermelho90;
    }
    &:active{
        position:relative;
        top:1px;
    }
}


//     Warning    // 
.btn-warning {
    @include myButton;
    background-color: $amarelo80;
    border:1px solid $amarelo90;
    color: $preto80;
    &:hover{
        background-color:$amarelo90;
    }
    &:active{
        position:relative;
        top:1px;
    }
}

//     Info    // 
.btn-info {
    @include myButton;
    background-color: $ciano70;
    border:1px solid $ciano80;
    color: $cinza10;
    &:hover{
        background-color:$ciano80;
    }
    &:active{
        position:relative;
        top:1px;
    }
}