// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// https://tableless.com.br/sass-um-outro-metodo-de-escrever-css/


$branco: #ffffff;
$preto100: #000000;

$preto90: #212121;
$preto80: #424242;
$preto70: #616161;
$preto60: #757575;

$cinza50: #9e9e9e;
$cinza40: #bdbdbd;
$cinza30: #e0e0e0;
$cinza20: #eeeeee;
$cinza10: #fafafa;

$vermelho90: #f30606;
$vermelho80: #f34a3ef1;
$vermelho70: #f16e6b;
$vermelho60: #FFEBEE;

$verde90: #10c019;
$verde80: #66BB6A;
$verde70: #81C784;
$verde60: #E8F5E9;

$amarelo90: #F9A825;
$amarelo80: #FFD54F;
$amarelo70: #FFF176;
$Amarelo60: #FFF8E1;

$azul90: #01579B;
$azul80: #1976D2;
$azul70: #1E88E5;
$azul60: #e3f2fd;

$ciano90: #006064;
$ciano80: #0097A7;
$ciano70: #00ACC1;
$ciano60: #E0F7FA;

$indigo90: #1A237E;
$indigo80: #303F9F;
$indigo70: #3949AB;
$indigo60: #E8EAF6;